@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e7e7;
  --foreground: #141414;
  --image: url('./../images/peter-fitzpatrick-mtYsbwCCl4s-unsplash.jpg');
}
.dark {
  --background: #141414;
  --foreground: #ebebeb;
  --image: radial-gradient(circle, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%),
    url('./../images/camille-cox--MMxYnt0rHo-unsplash.jpg');
}

body {
  background: var(--image);
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1,
h2,
h3 {
  font-family: var(--font-oswald);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  :root {
    --background: #fff;
    --foreground: #141414;
  }

  html,
  body {
    background-color: white !important;
  }

  body * {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    visibility: hidden;
  }

  #printable,
  #printable * {
    visibility: visible;
  }

  #printable {
    background: white;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
  }
}
